@media(max-width:575.98px){
   
    /* body {
      overflow-x: hidden;
    } */

    /* admission form start */
                 /* admission form */
             .form-check-input[type=radio] {
               border-radius: 50%;
               width: 20px !important;
             }
      
             #admission .container {
               width: 100% !important;
             }
      
             .container {
               max-width: 100% !important;
             }
      
             .img-area {
               width: 95px !important;
             }
      
             .name-sch h2 {
               font-size: 11px !important;
               padding-top: 14px;
             }
      
             .name-sch h5 {
               font-size: 11px !important;
             }
      
             .name-sch h6 {
               font-size: 10px !important;
             }
             .select-respon{
              padding: 2px 98px;;
             }
    /* admission form end*/
    .container{
        max-width: 100%!important;
    }
    .contact-item::after {
      display: none;
    }
    .contact-item2::after{
      display: none;
    }
    .contact-item3::after {
      display: none;
    }
    .icon i{
      font-size: 25px;
   }
     .pic-about {
       text-align: center;
     }
  
     .contact-number h6 {
       font-size: 14px;
       font-weight: 300;
     }
  
     tbody,
     td,
     tfoot,
     th,
     thead,
     tr {
       border-color: black;
       border-style: solid;
       border-width: 1;
       font-size: 12px;
     }
   .box-1 h3 {
    font-size: 15px;
}
.box-1 h5 {
  font-size: 15px;
  font-weight: 300;
}
.item-1 h5 {
  margin-top: 15px;
  font-size: 13px;
}
.box-3 {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}
.box-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}
.box-4 h3 {
  font-size: 18px;
  padding-left: 60px;

}
.item-3 img{
  width: 200px;
}
.item-5 h5 {
  display: none;
} 
.box-4 h5 {
  padding-left: 20px;
}
#sec-about .slick-dots li button{
  display: none;
  }
  /* .news img{   
    width: 500px;
  } */
  .news-overlay{
    width: 80%;
    padding: 10px 10px;
    height: 120px;
    }
        .bord {
          font-size: 18px;
        }
        
    
        .text h6,
        .news-head h1,
        .news-overlay p {
          font-size: 13px;
        }
    
        .counter-item p,
        .notice-board h1,
        .maq {
          font-size: 17px;
        }
    
        .news-overlay h6 {
          font-size: 12px;
        }
    
        .news-head h4 {
          font-size: 12px;
          line-height: 1px;
        }
    
        .counter {
          font-size: 27px;
        }
    
        h3.maq {
          font-size: 15px !important;
        }
    
        .history-text h6 {
          font-size: 14px;
          margin: -20px 10px;
        }
    
        .hist-img img {
          margin: -30px;
        }
    
        .port-head p {
          font-size: 13px;
          margin-top: 35px;
          text-align: center;
        }
    
        .port-head h2 {
          font-size: 30px;
        }
    
        .main {
          margin: 10px 0;
        }
    
        .wid {
          width: 330px !important;
        }
    .from-text{
      text-align: center;
    }
    .from{
      text-align: center;
    }
    .h2{
      text-align: center;
      margin-top: 20px;
    }
   
  .menu-bg{
    background-color: rgb(4, 23, 65);
  }
  .details-news h3{
    font-size: 20px;
  }
    .details-news {
      padding: 30px 30px;
    }

        .item-one img {
          height: 84px;
          padding-left: 1px;
        }
    
        .item-3 h2 {
          font-weight: 900;
          font-size: 11px;
        }
    
        .item-3 h6,
        .item-3 h5 {
          font-size: 11px;
        }
    
        .item-44 img {
          display: none;
        }
    
        #header {
          padding-bottom: 30px;
        }
    
        .note-one h6 {
          font-size: 22px;
          margin: 9px 0;
        }
      }  

/* small device */
  
@media(min-width:576px) and (max-width:767.98px){

    /* body {
        overflow-x: hidden;
      } */
      .container{
        max-width: 100%;
    }
        .item-3 h2 {
          font-weight: 900;
          font-size: 11px;
        }
    
        .item-3 h6,
        .item-3 h5 {
          font-size: 11px;
        }
    .contact-item::after {
      display: none;
    }
    .contact-item2::after{
      display: none;
    }
    .contact-item3::after {
      display: none;
    }
    #sec-about .slick-dots li button{
      display: none;
      }
        .news-overlay{
        width: 80%;
        height: 100px;
        }
        /* .news img{
          
          width: 500px;
        } */
        .box-4 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: stretch;
        }
        .box-1 {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: stretch;
      }
      .box-1 h3 {
        display: none;
      }
        .box-4 h3 {
          font-size: 18px;
          padding-left: 20px;
        }
        .item-3 img{
          width: 200px;
        }
        .item-5 h5 {
          display: none;
        }
        .icon i {
          
          padding-left: 100px;
      }
      .mock-img img {
        padding-top: 40px;
        margin-bottom: -90px;
    }
    .from-text{
      text-align: center;
    }
    .from{
      text-align: center;
    }
    .h2{
      text-align: center;
      margin-top: -100px;
    }
    .menu-bg{
      background-color: rgb(4, 23, 65);
    }

         .nav-pills li {
          width: 100%;
          margin-bottom: 10px;
        }
    
        .nav-pills a {
          display: block;
          text-align: center;
        }
    
        .name-sch h2 {
          font-size: 11px !important;
          padding-top: 14px;
        }
    
        #admission .container {
          width: 100% !important;
        }
    
        .from-group3 input {
          padding-left: 2px;
        }
    
        .box {
          padding: 10px !important;
        }
    
        .name-sch h5 {
          font-size: 11px !important;
        }
    
        label.male input {
          width: 13px !important;
        }
    
        label.male {
          padding: 17px 11px;
        }
    
        .form-group input {
          width: 198px !important;
        }
    
        .form-group2 input {
          width: 198px !important;
        }
    
        .tab-pane {
          overflow-x: auto;
        }
    
        .none {
          display: none;
        }
    
        .container {
          max-width: 100% !important;
        } 
   
}

/* medium device  start*/
@media(min-width:768px) and (max-width:991.98px){


    /* body {
        overflow-x: hidden;
      } */
      .container{
        max-width: 100%;
    }
        .item-3 h2 {
          font-weight: 900;
          font-size: 11px;
        }
    
        .item-3 h6,
        .item-3 h5 {
          font-size: 11px;
        }
    .contact-item::after {
      display: none;
    }
    .contact-item2::after{
      display: none;
    }
    .contact-item3::after {
      display: none;
    }
    /* .news img {
      height: 290px;
      width: 330px;
    } */
    .mock-img img {
      padding-top: 40px;
      margin-bottom: -90px;
  }
  #sec-about .slick-dots li button{
  display: none;
  }
  .news-overlay{
  width: 86%;
  padding: 10px 10px;
  height: 100px;
  }
  .from-text{
    text-align: center;
  }
  .from{
    text-align: center;
  }
  .h2{
    text-align: center;
    margin-top: 50px !important ;
  }
  .item-5 h5 {
    display: none;
  }
  .menu-bg{
    background-color: rgb(4, 23, 65);
  }
}

@media(min-width:992px) and (max-width:1199.98px){
        
    body {
        overflow-x: hidden;
      }
    }