
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
img{
    vertical-align: middle;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

section{
    overflow: hidden;
}
/* navbar start */

.menu-bg{
    background-color: black;
    position: fixed;
    top: 20;
    left: 0;
    width: 100%;
    z-index: 999;
}
.bg{
    background-color: #070707;
    top: 0;
    color: white;
}
.bg:hover{
    color: white !important;
}
.menu-bg a{
    color:rgb(1, 1, 7);
    font-size: 35px;
}

.menu-bg ul li a{
    color: rgb(254, 249, 250) !important;
   padding: 0 25px !important;
   font-size: 18px !important;
}

.nav-item h4{
    color: white;
    background-color: aqua;
    padding: 10px 10px;
    margin-top: 5px;
}
.nav-item h4:hover{
    background-color: black;
    color: aliceblue;
}
.nav-item {
    line-height: 50px;
    padding: 0 10px;
}
.dropdown-item{
    background-color: #111420;
}
.dropdown-item:hover{
    color:black !important;
}
/* navbar end */
 /* 1st menu start  */
 #menu{
    background-color: #041741;
    color: white;
 }
 .box-1 h3{
    font-size: 20px;
 }
 .box-1 h5{
    font-size: 18px;
    font-weight: 400;
 }
 .box-4 h3{
    font-size: 20px;
 }
 .box-4 h5{
    font-size: 18px;
    font-weight: 400;
 }
 .icon i{
    line-height: 55px;
    font-size: 35px;
 }
 .item-1 h5{
    background-color: #cf6904;
    padding: 10px 1px;
    border-radius: 20px;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: -15px;
    text-align: center;
}
.item-1 h5:hover{
    background-color: aqua;
    color: black;
}
 .item-5 h5{
    color: #052e59;
    margin-top: 30px;
 }

 .item-2 img{
    height: 70px;
 }
 .item-3 img{
    height: 70px;
 }
 .item-4 img{
    height: 70px;
 }
 /* 1st menu end */


/* banner start */

#sec-about{
    position: relative;
    z-index: -1;
}
.next1 i{
    font-size: 30px;
}
#sec-about .next1{
position: absolute;
left: 30px;
bottom: 230px;
color: aqua;
z-index: 1;

}
.prev1 i{
    font-size: 30px;
}
#sec-about .prev1{
position: absolute;
right: 30px;
bottom: 230px;
color: aqua;
z-index: 1;
}
#sec-about .slick-dots{
    display: flex;
    position: absolute;
    left: 600px;
    bottom: 0px;
}
#sec-about .slick-dots li{
    padding: 0 10px;
}
#sec-about .slick-dots li button{
    height: 10px;
    width: 10px;
    background-color: #fcf9f9;
    color: transparent;
    border: none;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    opacity: 0.4;
}
#sec-about .slick-dots li.slick-active button{
    opacity: 1;
}
.about-top{
    padding: 250px 0;
 }

/* banner end */
/* news start */
.news img{
    height: 290px;
    /* width: 540px; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid white;
}
.news{
    position: relative;
}
.news-overlay{
    position: absolute;
    content: '';
    bottom: 10px;
    left: 10px;
    height: 90px;
    width: 95%;
    background-color: #052e59d7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fcf9f9;
}
.news-overlay:hover{
    background-color: #fcf9f9a0;
    color: black;
}
.news-overlay h5{
    font-size: 17px;
    padding-left: 10px;
  
}
.news-overlay a{
    color: rgb(255, 252, 252);
    font-size: 14px;
    padding-left: 5px;
}
.news-overlay h6{
    font-size: 14px;
    padding-left: 10px;
    font-weight: 400;
}
.news-overlay p{
    font-size: 15px;
    padding-left: 10px;
}
#news{

   background-color: #fff;
}
.news-head{
    color: white;
    margin-top: 30px;
}
/* news start */

/* footer contact start */

#contact{
    padding: 10px 0;
    background-color: #041741;
   position: relative;
}

.contact-item::before{
    position: absolute;
    content: '';
    top: 1%;
    left: 0%;
    height: 2px ;
    width: 1348px;
    background-color: aliceblue;

}
.contact-number{
    color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-icon i{
    border: 1px wheat solid;
    padding: 10px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: yellow;
}

.contact-item::after{
    position: absolute;
    content: '';
    top: 15%;
    left: 29%;
    height: 220px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.589);
}

.contact-item2::after{
    position: absolute;
    content: '';
    top: 15%;
    left: 50%;
    height: 220px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.562);
}
.contact-item3::after{
    position: absolute;
    content: '';
    top: 15%;
    left: 70%;
    height: 220px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.61);
}

/* footer contact end */

/* footer follow start */
.fol-icon i{
   text-align: center;
   color:black ;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border: 1px black solid;
   background-color: white;
   line-height: 40px;
   font-size: 25px;
}
.fol-icon i:hover{
    background-color: rgb(19, 216, 234);
}
#follow{
    background-color: #041741;
    padding: 40px 0;
    margin-top: -143px;
    color: white;
}

/* footer fol end */

/* footer end start */
#end{
    background-color: #052e59;
    padding: 15px 0;
    position: relative;
    color: white;
}
.end-main h6{
   font-style: italic;
   font-weight: 400;
}
.end-main span{
    color: rgb(199, 11, 121);
}
.end-main::before{
    position: absolute;
    content: '';
    top: 0%;
    left: 0%;
    height: 2px ;
    width: 1348px;
    background-color: rgba(1, 7, 14, 0.938);
   
}

/* footer end end */


/* mock start */
.mock-img img{
    /* width: 450px; */
    height: 350px;
}
#counter{
    background: url(../schl-img/thumb3jpg.jpg) no-repeat center / cover;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}
#counter::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #060606a3;
    z-index: -1;
}
.text{
    color: rgb(246, 246, 246);
}
.counter-item{
    color: white;
    border: 1px white  dotted;
    padding: 25px 50px;
}
.counter-item p{
    font-size: 22px;
}
.counter{
    font-size: 44px;
}
/* mock end */
/* <!-- notice start --> */

.notice-board{
    border: 2px solid rgb(13, 13, 13);
}
.b-notice{
    height: 250px;
    display: grid;
    padding: 20px 20px;
}
.notice-board h1{
    border-bottom: 1px solid rgb(221, 222, 222);
    background-color:#032956;
    padding: 10px 20px 10px 20px;
    color: white;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 1px;

}


  /* faq start */
  .according-container{
    padding: 20px 20px;
}
.according-container .accordion{
    margin-bottom: 20px;
    cursor: pointer;
}
.according-container .accordion.active .accordion-heading{
    background: #ef1552;
}
.according-container .accordion.active .accordion-heading{
    background-color: #ef1552;
}

.according-container .accordion .accordion-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: aquamarine;
    border: 0.5px solid gray;
    padding: 15px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.according-container .accordion .accordion-heading h3{
font-size: 20px;
}

.according-container .accordion .accordion-heading i{
font-size: 25px;
}
.according-container .accordion .accordion-content{
    padding: 15px 20px;
   font-size: 15px;
   background-color: #fff;
   border-top: 0;
   display: none;
}

.faq {
    max-width: 1100px;
    margin: 0 auto;
    
    }
    
    .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
    .question button{
      width: 10%;
    }
    .answer {
    display: none;
    padding: 10px;
    background-color: #fff;
    }
    
    .toggle {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    }
    .faq {
    max-width: 1100px;
    margin: 0 auto;
    
    }
    
    .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    }
    
    .answer.active {
    display: block;
    padding: 10px;
    background-color: #fff;
    }
    
    .toggle {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    }
    

/* faq end */
/* more about start */
.pic-details img{
    height: 100px;
    width: 100px;
}
.pic-about{
    text-align: start;
    padding: 10px 10px;
    background-color: #f8f8f8;
}
.pic-details{
    background-color: #fef2f2;
    padding: 10px 10px;
}
.pic-details h3{
    color: #00742D;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
}
.pic-details p{
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    color:gray;
}

.pic-details p{
    text-align: start;
}
.pic-about h3{
    color: #026F2B;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
}
.pic-about h4{
    color: #026F2B;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.pic-about p{
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: gray;
}
.btn-btn a{
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgb(8, 45, 90);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
   color: white;

}
.btn-btn a:hover{
    background-color: rgb(3, 41, 86);;
    color: #000;
}
.btn-btn
{
    margin-top:30px ;
    margin-bottom:20px ;
}
#moreAbout{
    margin-top: -35px;
}
/* more about end */
/* event start */

.event-one h2,
.event-two h2,
.lg-6{
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 1px;
    background-color: rgb(3, 41, 86);;
    padding: 0 10px;
}

.event-one p{
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
}

.btn-one a{
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgb(8, 45, 90);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
   color: white;

}
.btn-one a:hover{
    background-color: rgb(3, 41, 86);;
    color: #000;
}
.btn-one{
    margin: 25px 0;
}
.card-bodyx h1{
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 10px;
    color: rgb(3, 41, 86);

}
.board,
.news-head h4{
    color: #050505;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 1px;
    padding: 0 10px;
}
.news-head h1{
    color: #050505;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 1px;
    padding: 0 10px;
}
.bord{
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 1px;
    padding: 0 10px;
    color: white;
}
/* event end */




#header {
    background-color: #052e59;
    padding-top: 30px;
}

.item-3 h2 {
    font-weight: bold;
    color: #fff;
    font-family: 'Kalpurush', sans-serif;
    font-size: 23px;
}

.item-3 h6,
.item-3 h5 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.item-44 img {
    height: 118px;
}

.item-one img {
    height: 109px;
    padding-left: 36px;
}

.note {
    border: 2px #008b8b double;

    margin: 5px 0;
}

.note-one h6 {
    font-size: 29px;
    margin: 4px 0;
}